.containerHome {
   font-weight: 900;
    text-align: center;
   
    /* background image */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./images/self.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    float: right;
}

.homeIconContainer {
    margin:5% 5%;
    display: flex;
    justify-content: flex-end;
    opacity: 5;
}

li.telephone {
    list-style-image: url('images/telephone.svg');
}
    
li.email {
    list-style-image: url('images/email.svg');
}
    
li.github {
    list-style-image: url('images/githubC.svg');
}

li.linkedin {
    list-style-image: url('images/linkedin.svg');
}



.details {
    text-align:center;
    position: relative;
    top: 40px;
    padding-bottom: 10px;
}
.detailContent {
    margin: 16px;

}
@media only screen and (min-width: 46.875em) {
    .detailContent {
        margin: 0px;
    
    }
}